@media (max-width: 800px) { 
    body
    {
        font-size: calc(1rem + -.5vw);
    }

    button{
        width: 100%;
        max-width: 150px;
        height: 100%;
        max-height: 150px;
    }

    .social{
        font-size: 0%;
    }
    #posts{
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 10px;
    }

    .card{
        width: 35vw;
    }
    #content{
        grid-template-columns: minmax(80px, 110px) 1fr 0px;
    }
}
    