
#post-body{
    background-color: #2d2b33;
    grid-area: content;
    display: flex;
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-width: none;
}

#about{
    margin-top: 0;
}

#post-content{
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    max-width: 750px;
}
.quote{
    line-height: 1.5;
    font-size: calc(1rem + .1vw);
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: white;
    border: 2px;
}
#home{
    grid-area: avatar;
    justify-self: center;
    align-self: center;
}